<div class="" style="padding-top: 2rem;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <!-- Contenuto della prima colonna -->
        <h5 class="title1" style="text-align: left;">ABOUT</h5>
        <p class="parag1" style="text-align: left; color: orange;"><strong style="color: green;">We connect</strong> THE VERY BEST TALENT WITH THE VERY BEST ORGANISATIONS <strong style="color: green;">regardless of sector or industry </strong></p>
        <p>For over twenty years, we’ve been at the forefront of IT recruitment.<br><br>

          By combining a genuine enthusiasm to help people, with a natural curiosity, we connect the brightest people with the smartest businesses. <br><br>

          Today, we have offices across Europe and are a respected G-cloud supplier.</p>

          <button type="button" class="btn orange">Learn more</button>
      </div>
      <div class="col-md-3 mb-2" style="margin-left: 25px;">
        <!-- Contenuto della seconda colonna -->
          <img src="../../../assets/gifHome.gif" width="100%" height="400px" >
      </div>
      <div class="col-md-5 d-flex justify-content-end mb-2" style="margin-left: -25px;">
        <!-- Contenuto della seconda colonna -->
        <img src="../../../assets/gifHome.gif">
      </div>
    </div>
  </div>
</div>
