<div class="container mt-5">
  <h2 id="pm">Primo piano</h2>
  <hr>

  <div class="card-container" #cardContainer
  (mousedown)="startDrag($event)"
  (touchstart)="startDrag($event)">
  <!-- Container interno per le card -->
  <div class="card-inner-container" [style.transform]="'translate(' + offsetX + 'px, ' + offsetY + 'px)'"
      (mouseup)="endDrag()" (touchend)="endDrag()"
      (mousemove)="onDrag($event)" (touchmove)="onDrag($event)">
              <div class="card d-inline-block m-2" style="width: 20rem; height: 250px;"  *ngFor="let card of card.cards;">
                <div class="card-body2" >
                  <div class="date" >
                      <b class="custom-date">{{ card.professione }}</b>
                  </div>
                  <h5 class="card-title">{{ card.title | slice:0:20 }}</h5>
                  <p class="card-text">{{ card.country | slice:0:20 }}</p>
                  <p class="card-text">{{ card.description | slice:0:150 }}</p>
                </div>
              </div>
      </div>
    </div>

       <!-- Frecce di navigazione -->
       <div class="d-flex align-self-end d-flex justify-content-end mb-4">
        <div class="nav-arrow left" style="margin-right: 1rem;" (click)="scrollCards('left')"><i class="fa-solid fa-arrow-left"></i></div>
        <div class="nav-arrow right" (click)="scrollCards('right')"><i class="fa-solid fa-arrow-right"></i></div>
      </div>

